@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin-ext');

* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: auto;
}

p {
  line-height: 24px;
}

h3 {
  font-size: 35px;
  font-weight: 300;
}

.container {
  min-height: 100%;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 30px;
}

/**
 * Top section and navigation
 */
.navigation {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  height: 140px;
  display: flex;
  background: rgba(256, 256, 256, 0.7);

}

.navigation > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #9bc651;
  font-weight: 700;
}

.main-image__text-box {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 85%;
  margin: auto;
  color: rgba(0, 0, 0, 0);
}

.main-image__text-box > h2 {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 700;
}

.main-image__text-box > p {
  max-width: 40%;
  font-size: 13px;
}

/**
 * Content title, text & iPhone image
 */
.content {
  max-width: 85%;
  margin: auto;
}

.content__text {
  margin-bottom: 60px;
}

.content__title {
  display: flex;
  justify-content: space-between;
  max-height: 75px;
}

.content__text__row > p, .content__text__row--column > p {
  margin-bottom: 25px;
  font-size: 14px;
  color: #959595;
}

/**
 * Content boxes
 */
.content__boxes {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.content__boxes__box {
  padding: 55px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  min-height: 180px;
  margin: 0;
}

.content__boxes__box > h4 {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 30px;
}

.content__boxes__box > p {
  max-width: 330px;
  font-size: 13px;
}

.content__boxes__box > a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

/**
 * Utilities
 */
.u-flex-end {
  margin-top: auto;
}

.u-font-bold {
  font-weight: bold;
}

.u-background-grey {
  background-color: #43463e;
}

.u-background-dark-green {
  background-color: #37461d;
}

.u-background-dark-blue {
  background-color: #091e28;
}

.u-background-light-green {
  background-color: #73933c;
}

.u-margin-right-10 {
 margin-right: 10px;
}

.u-margin-left-10 {
 margin-left: 10px;
}

/**
 * Animations
 */
 .js-show-text-box {
   color: rgba(256, 256, 256, 1);
 }

.js-hidden-text {
  transition: color 3s;
  -webkit-transition: color 3s;
  -ms-transition: color 3s;
  -moz-transition: color 3s;
}
