 /**
 * Only mobile view
 */

 h3 {
   font-size: 40px;
 }

/**
 * Top section
 */

.main-image {
  background-image: url('../img/mobile/Mobile_0000s_0005_Layer-3.png');
  position: relative;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 83.16%;  /* (img-height / img-width * container-width) */
  margin-bottom: 80px;
}

.navigation {
  height: 130px;
}

.main-image__text-box > p {
  max-width: 70%;
  font-size: 20px;
}

.main-image__text-box > h2 {
  margin-top: -10%;
  font-size: 40px;
}

/**
 * Content title, text & iPhone image
 */
.content__title {
  flex-direction: row-reverse;
}

.content__title > h3 {
  position: absolute;
  left: 7.5%;
}

.js-iphone-image {
  content: url('../img/mobile/mobile_0001_iPhone.png');
  height: 480px;
  width: auto;
  transform: translateY(-85%);
}

.content__text__row > p {
  font-size: 20px;
}

/**
 * Bottom boxes
 */
.content__boxes__box > h4 {
  font-size: 35px;
}

.content__boxes__box > p {
  font-size: 18px;
  max-width: 100%;
}

.content__boxes__box > a {
  font-size: 16px;
}
